absl-py==2.3.1
aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiosignal==1.4.0
aiosqlite==0.21.0
alembic==1.17.1
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.11.0
appdirs==1.4.4
apturl==0.5.2
argcomplete==1.8.1
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
arrow==1.4.0
asttokens==3.0.0
astunparse==1.6.3
async-lru==2.0.5
async-timeout==5.0.1
attrs==25.4.0
Authlib==1.6.5
babel==2.17.0
banks==2.2.0
bcrypt==3.2.0
beautifulsoup4==4.14.2
bleach==6.3.0
blinker==1.4
bloom==0.13.0
breezy==3.2.1
Brlapi==0.8.3
Brotli==1.0.9
cachetools==6.2.1
catkin-pkg==1.1.0
catkin-pkg-modules==1.1.0
certifi==2025.11.12
cffi==2.0.0
chardet==4.0.0
charset-normalizer==3.4.4
click==8.3.0
cloudpickle==3.1.2
colcon-argcomplete==0.3.3
colcon-bash==0.5.0
colcon-cd==0.2.1
colcon-cmake==0.2.29
colcon-common-extensions==0.3.0
colcon-core==0.20.1
colcon-defaults==0.2.9
colcon-devtools==0.3.0
colcon-installed-package-information==0.2.1
colcon-library-path==0.2.1
colcon-metadata==0.2.5
colcon-mixin==0.2.3
colcon-notification==0.3.0
colcon-output==0.2.13
colcon-override-check==0.0.1
colcon-package-information==0.4.0
colcon-package-selection==0.2.10
colcon-parallel-executor==0.3.0
colcon-pkg-config==0.1.0
colcon-powershell==0.4.0
colcon-python-setup-py==0.2.9
colcon-recursive-crawl==0.2.3
colcon-ros==0.5.0
colcon-test-result==0.3.8
colcon-zsh==0.5.0
colorama==0.4.4
comm==0.2.3
command-not-found==0.3
configobj==5.0.6
contourpy==1.3.2
cov-core==1.15.0
coverage==6.2
cryptography==3.4.8
cupshelpers==1.0
cycler==0.11.0
dataclasses-json==0.6.7
dbus-python==1.2.18
debugpy==1.8.16
decorator==5.2.1
defer==1.0.6
defusedxml==0.7.1
Deprecated==1.2.18
dirtyjson==1.0.8
distlib==0.3.4
distro==1.7.0
distro-info==1.1+ubuntu0.2
docker==7.1.0
docstring_parser==0.17.0
docutils==0.17.1
dulwich==0.20.31
duplicity==0.8.21
empy==3.3.4
exceptiongroup==1.3.0
executing==2.2.1
fastapi==0.121.1
fastbencode==0.0.5
fasteners==0.14.1
fastimport==0.9.14
fastjsonschema==2.21.2
filelock==3.20.0
filetype==1.2.0
flake8==4.0.1
flake8-blind-except==0.2.0
flake8-builtins==1.5.3
flake8-class-newline==1.6.0
flake8-comprehensions==3.8.0
flake8-deprecated==1.3
flake8-docstrings==1.6.0
flake8-import-order==0.18.1
flake8-quotes==3.3.1
flatbuffers==25.2.10
fonttools==4.59.2
fqdn==1.5.1
frozenlist==1.8.0
fs==2.4.12
fsspec==2025.10.0
future==0.18.2
gast==0.6.0
google-api-core==2.28.1
google-api-python-client==2.187.0
google-auth==2.43.0
google-auth-httplib2==0.2.1
google-cloud-appengine-logging==1.7.0
google-cloud-audit-log==0.4.0
google-cloud-core==2.5.0
google-cloud-resource-manager==1.15.0
google-crc32c==1.7.1
google-pasta==0.2.0
google-resumable-media==2.7.2
googleapis-common-protos==1.72.0
gpg==1.16.0
graphviz==0.21
greenlet==3.2.4
griffe==1.15.0
grpc-google-iam-v1==0.14.3
grpc-interceptor==0.15.4
grpcio==1.76.0
grpcio-status==1.76.0
gyp==0.1
h11==0.16.0
h5py==3.14.0
hf-xet==1.2.0
httpcore==1.0.9
httplib2==0.20.2
httpx==0.28.1
httpx-sse==0.4.3
huggingface-hub==0.36.0
idna==3.3
importlib_metadata==8.7.0
iniconfig==1.1.1
inngest==0.5.13
ipykernel==6.30.1
ipython==8.37.0
ipywidgets==8.1.8
isoduration==20.11.0
jcs==0.2.1
jedi==0.19.2
jeepney==0.7.1
Jinja2==3.1.6
jiter==0.12.0
joblib==1.5.2
json5==0.12.1
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.12.0
jupyter-lsp==2.3.0
jupyter_client==8.6.3
jupyter_core==5.8.1
jupyter_server==2.17.0
jupyter_server_terminals==0.5.3
jupyterlab==4.4.10
jupyterlab_pygments==0.3.0
jupyterlab_server==2.28.0
jupyterlab_widgets==3.0.16
keras==3.11.3
keyring==23.5.0
kiwisolver==1.3.2
langchain==1.1.0
langchain-core==1.1.0
langgraph==1.0.4
langgraph-checkpoint==3.0.1
langgraph-prebuilt==1.0.5
langgraph-sdk==0.2.10
langsmith==0.4.49
language-selector==0.1
lark==1.3.1
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
libclang==18.1.1
llama-cloud==0.1.35
llama-cloud-services==0.6.54
llama-index==0.14.9
llama-index-cli==0.5.3
llama-index-core==0.14.9
llama-index-embeddings-openai==0.5.1
llama-index-indices-managed-llama-cloud==0.9.4
llama-index-instrumentation==0.4.2
llama-index-llms-openai==0.6.10
llama-index-readers-file==0.5.5
llama-index-readers-llama-parse==0.5.1
llama-index-workflows==2.11.5
llama-parse==0.6.54
lockfile==0.12.2
louis==3.20.0
lxml==4.8.0
lz4==3.1.3+dfsg
macaroonbakery==1.3.1
Mako==1.1.3
Markdown==3.8.2
markdown-it-py==4.0.0
MarkupSafe==3.0.2
marshmallow==3.26.1
matplotlib==3.10.6
matplotlib-inline==0.1.7
mccabe==0.6.1
mcp==1.21.0
mdurl==0.1.2
mercurial==6.1.1
mistune==3.1.4
ml-dtypes==0.3.2
monotonic==1.6
more-itertools==8.10.0
mpmath==1.3.0
multidict==6.7.0
munkres==1.1.4
mypy==0.942
mypy-extensions==0.4.3
namex==0.1.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
netifaces==0.11.0
networkx==3.3
nltk==3.9.2
nose2==0.9.2
notebook==7.4.7
notebook_shim==0.2.4
notify2==0.3
numpy==1.26.4
nvidia-cuda-cupti-cu12==12.3.101
nvidia-cuda-nvcc-cu12==12.3.107
nvidia-cuda-nvrtc-cu12==12.3.107
nvidia-cuda-runtime-cu12==12.3.101
nvidia-cufft-cu12==11.0.12.1
nvidia-curand-cu12==10.3.4.107
nvidia-nccl-cu12==2.19.3
nvidia-nvjitlink-cu12==12.3.101
oauthlib==3.2.0
olefile==0.46
openai==2.8.1
opencv-python==4.12.0.88
opentelemetry-api==1.37.0
opentelemetry-exporter-gcp-logging==1.11.0a0
opentelemetry-exporter-gcp-monitoring==1.11.0a0
opentelemetry-exporter-gcp-trace==1.11.0
opentelemetry-exporter-otlp-proto-common==1.37.0
opentelemetry-exporter-otlp-proto-http==1.37.0
opentelemetry-proto==1.37.0
opentelemetry-resourcedetector-gcp==1.11.0a0
opentelemetry-sdk==1.37.0
opentelemetry-semantic-conventions==0.58b0
opt_einsum==3.4.0
optree==0.17.0
orjson==3.11.4
ormsgpack==1.12.0
overrides==7.7.0
packaging==25.0
pandas==2.2.3
pandocfilters==1.5.1
paramiko==2.9.3
parso==0.8.5
patiencediff==0.2.1
pexpect==4.8.0
Pillow==9.0.1
platformdirs==4.4.0
pluggy==0.13.0
prometheus_client==0.23.1
prompt_toolkit==3.0.52
propcache==0.4.1
proto-plus==1.26.1
protobuf==6.33.0
psutil==5.9.0
psycopg2-binary==2.9.11
ptyprocess==0.7.0
pure_eval==0.2.3
py==1.10.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycairo==1.20.1
pycodestyle==2.8.0
pycparser==2.23
pycups==2.0.1
pydantic==2.12.4
pydantic-settings==2.12.0
pydantic_core==2.41.5
pydocstyle==6.1.1
pyflakes==2.4.0
PyGithub==1.55
Pygments==2.19.2
PyGObject==3.42.1
pygraphviz==1.7
PyJWT==2.10.1
pymacaroons==0.13.0
PyNaCl==1.5.0
pyOpenSSL==21.0.0
pyparsing==2.4.7
pypdf==6.4.0
pyproj==3.7.1
PyQt5==5.15.6
PyQt5-sip==12.9.1
pyRFC3339==1.1
pytest==6.2.5
pytest-cov==3.0.0
pytest-mock==3.6.1
pytest-repeat==0.9.1
pytest-rerunfailures==10.2
pytest-timeout==2.1.0
python-apt==2.4.0+ubuntu4
python-dateutil==2.9.0.post0
python-debian==0.1.43+ubuntu1.1
python-dotenv==1.2.1
python-gitlab==2.10.1
python-json-logger==4.0.0
python-multipart==0.0.20
pytz==2022.1
pyxdg==0.27
PyYAML==6.0.3
pyzmq==27.0.2
referencing==0.37.0
regex==2025.10.23
reportlab==3.6.8
requests==2.32.5
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rfc3987-syntax==1.1.0
rich==14.1.0
roman==3.3
rosdep==0.26.0
rosdep-modules==0.26.0
rosdistro==1.0.1
rosdistro-modules==1.0.1
rosinstall==0.7.8
rosinstall-generator==0.1.23
rospkg==1.6.0
rospkg-modules==1.6.0
rpds-py==0.28.0
rsa==4.9.1
safetensors==0.7.0
scikit-learn==1.7.2
scipy==1.15.3
screen-resolution-extra==0.0.0
seaborn==0.13.2
SecretStorage==3.3.1
Send2Trash==1.8.3
sentence-transformers==5.1.2
shapely==2.1.2
shellingham==1.5.4
six==1.16.0
sniffio==1.3.1
snowballstemmer==2.2.0
soupsieve==2.8
SQLAlchemy==2.0.44
sqlalchemy-spanner==1.17.1
sqlparse==0.5.3
sse-starlette==3.0.3
ssh-import-id==5.11
stack-data==0.6.3
starlette==0.49.3
striprtf==0.0.26
sympy==1.14.0
systemd-python==234
tenacity==9.1.2
termcolor==3.1.0
terminado==0.18.1
threadpoolctl==3.6.0
tiktoken==0.12.0
tinycss2==1.4.0
tokenizers==0.19.1
toml==0.10.2
tomli==2.3.0
torch==2.9.1+cpu
torchaudio==2.9.1+cpu
torchvision==0.24.1+cpu
tornado==6.5.2
tqdm==4.67.1
traitlets==5.14.3
transformers==4.41.0
typed-ast==1.4.3
typer-slim==0.20.0
typing-inspect==0.9.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
tzlocal==5.3.1
ubuntu-drivers-common==0.0.0
ubuntu-pro-client==8001
ufoLib2==0.13.1
ufw==0.36.1
unattended-upgrades==0.1
unicodedata2==14.0.0
uri-template==1.3.0
uritemplate==4.2.0
urllib3==1.26.5
usb-creator==0.3.7
uvicorn==0.38.0
vcstool==0.3.0
vcstools==0.1.42
wadllib==1.3.6
watchdog==6.0.0
wcwidth==0.2.13
webcolors==25.10.0
webencodings==0.5.1
websocket-client==1.9.0
websockets==15.0.1
Werkzeug==3.1.3
widgetsnbextension==4.0.15
wrapt==1.13.3
wstool==0.1.18
xdg==5
xkit==0.0.0
xxhash==3.6.0
yarl==1.22.0
zipp==3.23.0
zstandard==0.25.0
